* {
    box-sizing: border-box;
}

html {
    font-family: 'Manrope', sans-serif;
}


body {
    background-color: #202733;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


}

#advice_block {
    background-color: #313A48;
    margin: 0 auto;
    width: 88%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 540px;
    border-radius: 1rem;
    position: relative;
}

#advice_num {
    color: #53FFAA;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 11px;
    line-height: 15px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 3.45714px;
    margin-top: 2rem;

}


#advice_quote {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    letter-spacing: -0.257143px;

    /* Light Cyan */

    color: #CEE3E9;
    margin-top: 3rem;
    margin-bottom: 1rem;
    width: 90%;

}

#divider_desktop {
    display: none;
}


.divider {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

#circle_button {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #53FFAA;
    position: absolute;
    bottom: -2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;

}

#circle_button:hover {
    -webkit-box-shadow: 0px 0px 59px 1px rgba(45, 255, 196, 1);
    -moz-box-shadow: 0px 0px 59px 1px rgba(45, 255, 196, 1);
    box-shadow: 0px 0px 59px 1px rgba(45, 255, 196, 1);
    cursor: pointer;
    transition-timing-function: ease-in;
}

#dice {
    transition: 0.6s;
}




@media screen and (min-width:768px) {
    #divider_desktop {
        display: block;
    }

    #divider_mobile {
        display: none;
    }

    #advice_quote {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 28px;
        line-height: 38px;
        text-align: center;
        letter-spacing: -0.3px;
    }
}