* {
    box-sizing: border-box;
}

html {
    font-family: 'Manrope', sans-serif;
}


body {
    background-color: #202733;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


}

#advice_block {
    background-color: #313A48;
    margin: 0 auto;
    width: 88%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 540px;
    border-radius: 1rem;
}

#advice_num {
    color: #53FFAA;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 11px;
    line-height: 15px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 3.45714px;

}


#advice_quote {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    letter-spacing: -0.257143px;

    /* Light Cyan */

    color: #CEE3E9;

}

#divider_desktop {
    display: none;
}


.divider {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


@media screen and (min-width:768px) {
    #divider_desktop {
        display: block;
    }

    #divider_mobile {
        display: none;
    }
}